body {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}
#container {
  min-width: 1024px;
  max-width: 1920px;
  min-height: 568px;
  max-height: 768px;
  width: expression( document.body.clientWidth >=1000 ? "1200px" :     (document.body.clientWidth <= 920 ? 920 : document.body.clientWidth));
 border: 1px solid #bd4141;
 background: #41b4ee;
}
#app {
margin: 0 auto;
width: 95%
}

table {
  border-radius: 10px;
  border: 1px dashed grey;
  width: 100%;
}

td, th {
  border-radius: 10px;
  padding: 1em;
  border: 1px dashed white;
  font-size: 2em;
}

th {
  border: 1px solid #186294;
}

div {
  padding-top: 1em;
  background-color: #52223c;
}

textarea {
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px dashed grey;
  width: 100%;
  height: 5em;
  font-size: 2em;
}

input, button {
  height: 50px;
}


button {
  margin-top: 20px;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  background-color:#ee83b4;
  border-radius: 15px;
	border:1px solid #fcfefc;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
padding: 0;
border: 0 none;
}

button:focus {
  outline:0}

button:hover {
	background-color:#5a4120;
}

input {
  width: 10em;
  font-size: 2em;
}

#header {
padding: 0px;
}

#topToolbar {
  position: relative;
  margin-bottom: 70px;
  top: -32px;
  background-color: #52223c;
  border-bottom-style: ridge;
  border-width: 1px;
  border-color: #83e6d5;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

#avatar {
  position: relative;
  left: 97px;
  top: -15px;
  border-radius: 5px;
}

#addMotionsButton {
}

#manageMotionsButton {
left: 80px;
}

#voteButton {
left: 120px;
}

#logoutButton {
left: 220px;

}

#name {
  padding: 0px;
  font-weight: bold;
}

#loggedInText
{
  padding: 0px;
}

#addMotionButton {
background-color:#5a4120;
left: 50px;
}

.form-row {
  padding: 4px;
}

.toolbarButton {
  position: relative;
  margin-left: 10px;
  padding: 0px;
  height: 32px;
  top: -25px;
        background-color:#c1a712;
	border-radius:5px;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	text-shadow:0px 1px 0px #2f6627;
}

.toolbarButton: hover {
background-color:#ee83b4;
}
