#app {
  position: absolute;
  width: 1000px;
}

table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 1em;
  border: 1px solid gray;
}

th {
  border: 2px solid gray;
}

div {
  padding: 1em;
}

textarea {
  width: 100%;
  height: 5em;
}

.button-container {
  text-align: center;
}
