#app {
  position: absolute;
  width: 1000px;
}

table {
  border-radius: 10px;
  border: 1px dashed grey;
  width: 100%;
}

td, th {
  border-radius: 10px;
  padding: 1em;
  border: 1px dashed grey;
  font-size: 2em;
}

th {
  border: 2px solid gray;
}

div {
  padding: 1em;
}

textarea {
  border-radius: 10px;
  border: 1px dashed grey;
  width: 100%;
  height: 5em;
  font-size: 2em;
}

input, button {
  height: 50px;
}

button {
  margin-top: 50px;
  margin-left: 50px;
  width: 170px;
}

input {
  width: 10em;
  font-size: 2em;
}

.form-row {
  margin-top: 1em;
  margin-bottom: 1em;
}
